.department-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 2.5rem;
    width: 90%;
    max-width: 1000px;
    margin: 10vh auto;
}