.department-card {
    border-radius: 10px;
    box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25);
    width: 266px;
    background-color: #ffff;
    padding: 1.5rem;
}

.title {
    padding-left: 6px;
    border-left: 3px solid #4133B7;
    font-size: 1.5rem;
    color: #141b22;
    line-height: 1.25;
    font-weight: 400;
    margin: 0 0 1rem 0;
}

.divider {
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.list {
    height: 180px;
    overflow: auto;
}

.list::-webkit-scrollbar {
    width: 6px;
}

.list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 6px;
}

.list::-webkit-scrollbar-thumb {
    background-color: #a69fd6;
    border-radius: 6px;
}